<ul class="menu">

    {% for class in site.data.menu %}
    {% if class.special != null %}
    <li><a href="{{ class.href }}.html" class="page-link">{{ class.title }}</a>
    {% endif %}
    {% if class.subcategories != null %}
    <li><a href="{{ class.href }}" class="page-link">{{ class.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in class.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ class.href }}" class="page-link">{{ class.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
